<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar Equipamento</h1>
        </div>
    
        <div class="card-body">
            <form action="/equipamentos/new" method="POST">
                <label>Nome do Equipamento:</label>
                <input type="text" name="nome" id="nome" placeholder="Insira o nome do Equipamento" class="form-control" required>

                <label>Preco do Equipamento:</label>
                <input type="text" name="preco" id="preco" placeholder="Insira o preco do Equipamento" class="form-control" required>

                <label>Categoria do Equipamento:</label>
                <input type="text" name="categoria" id="categoria" placeholder="Insira a categoria do Equipamento" class="form-control" required>

                <br>
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Equipamentos</h1>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome:</th>
                        <th>Preco:</th>
                        <th>Categoria:</th>
                        <th colspan="2">Ações:</th>
                    </tr>
                </thead>
                <tbody>
                    <% equipamentos.forEach(equipamento=> { %>
                        <tr>
                            <td><img src="imgs/avatar.png" width="30px"></td>
                            <td>
                                <%= equipamento.nome %>
                            </td>
                            <td>
                                <%= equipamento.preco %>
                            </td>
                            <td>
                                <%= equipamento.categoria %>
                            </td>
                            <td><a style="color: orange;" href="/equipamentos/edit/<%= equipamento.id %>">Editar</a></td>
                            <td>
                                <a style="color:red;" href="/equipamentos/delete/<%= equipamento.id %>" onclick="return confirm('Deseja realmente deletar o equipamento <%= equipamento.nome %>?')">
                                Deletar
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>