<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar Equipe</h1>
        </div>
    
        <div class="card-body">
            <form action="/equipes/new" method="POST">
                <label>Nome da equipe:</label>
                <input type="text" name="nome" id="nome" placeholder="Insira o nome da equipe" class="form-control" required>

                <label>Regiao da equipe:</label>
                <input type="text" name="regiao" id="regiao" placeholder="Insira a região da equipe" class="form-control" required>

                <label>Titulo:</label>
                <input type="text" name="titulo" id="titulo" placeholder="Insira a quantidade de titulos" class="form-control" required>
                <br>
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Equipes</h1>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome da Equipe:</th>
                        <th>Região da Equipe:</th>
                        <th>Titulos da Equipe:</th>
                        <th colspan="2">Ações:</th>
                    </tr>
                </thead>
                <tbody>
                    <% equipes.forEach(equipe=> { %>
                        <tr>
                            <td><img src="imgs/avatar.png" width="30px"></td>
                            <td>
                                <%= equipe.nome %>
                            </td>
                            <td>
                                <%= equipe.regiao %>
                            </td>
                            <td>
                                <%= equipe.titulo %>
                            </td>
                            <td><a style="color: orange;" href="/equipes/edit/<%= equipe.id %>">Editar</a></td>
                            <td>
                                <a style="color:red;" href="/equipes/delete/<%= equipe.id %>" onclick="return confirm('Deseja realmente deletar a equipe <%= equipe.nome %>?')">
                                Deletar
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>