<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar Piloto</h1>
        </div>
    
        <div class="card-body">
            <form action="/pilotos/new" method="POST">
                <label>Nome do Piloto:</label>
                <input type="text" name="nome" id="nome" placeholder="Insira o nome do piloto" class="form-control" required>

                <label>Nacionalidade do Piloto:</label>
                <input type="text" name="nacionalidade" id="nacionalidade" placeholder="Insira a nacionalidade do piloto" class="form-control" required>

                <br>
                <input type="submit" class="btn btn-success" value="Cadastrar">
            </form>
            <hr>
        </div>
    </div>
</div>
<br>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Pilotos</h1>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome do Piloto:</th>
                        <th>Nacionalidade do Piloto:</th>
                        <th colspan="2">Ações:</th>
                    </tr>
                </thead>
                <tbody>
                    <% pilotos.forEach(piloto=> { %>
                        <tr>
                            <td><img src="imgs/avatar.png" width="30px"></td>
                            <td>
                                <%= piloto.nome %>
                            </td>
                            <td>
                                <%= piloto.nacionalidade%>
                            </td>
                            <td><a style="color: orange;" href="/pilotos/edit/<%= piloto.id %>">Editar</a></td>
                            <td>
                                <a style="color:red;" href="/pilotos/delete/<%= piloto.id %>" onclick="return confirm('Deseja realmente deletar o piloto <%= piloto.nome %>?')">
                                Deletar
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>